.App {

  display: flex;
  width: 800px;
  text-align: center;

}

.sidebar {
  background-color:darkblue;
  color: white;
  margin: 0;
  width: 200px;
  height: 800px;
}

.content {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.title {
  justify-content: left;
  text-align: left;
  font-weight: 700;
  padding: 20px 0px 20px 30px;
}

.card {
  width: 250px;
  font-size: 12px;
  border: 1px solid black;
  margin: 30px;
  padding: 0px 0px 20px 0px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
	align-items: center;
}

.card h4 {
  width: 80%;
  padding-top: 0;
}

.card img {
  display: flex;
  width: 100%;
}

.card p {
  padding: 0px 0px 0px 0px;
  justify-content: center;
}